.social__icon {
    display: none;
    visibility: collapse;
}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login-form input {
    margin: 1em; /* 10px / 16px = 0.625em */
    padding: 0.625em; /* 10px / 16px = 0.625em */
    width: 18.75em; /* 300px / 16px = 18.75em */
    border: 0.0625em solid #ccc; /* 1px / 16px = 0.0625em */
    border-radius: 0.3125em;
}
#login-form label {
    width: 8em;
    display: inline-block;
    text-align: right;
    margin-right: 2em;
}
#login-form #login-button{
    height: 3em;
    font-size: 1em;
}
