{% extends 'photoUploading/base.html' %}
{%  load static %}
{% block title %}
  <title>Комолов Тимур – Обо мне</title>
  {% endblock %} title %}
{% block description %}
<meta name="description" content="Портфолио фотографа Тимура Комолова. Страница о фотографе.">
{% endblock %} description %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="preload" href="{% static 'styles/aboutme.css' %}" as="style"
      onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
  <link rel="stylesheet" href="{% static 'styles/aboutme.css' %}">
	</noscript>
{% endblock %}
{% block content %}
	<main class="main">
          <article>
            <div class="textbox">
              <h1>Обо мне</h1>
              <div class="itsme">
                <div class="D3__effect"
                     style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                     url({{ description.main_photo.url }}); background-size: 0, cover;">
                  <span class="descr-of-me">Это я с камерой ;)</span>
                </div>
              </div>
              <br>
              <p>{{ description.text }}</p>
              <p>На сайте школы у меня был интересный эффект с кастомным курсором, за которым двигались шарики. Я скопировал его на свой сайт, чтобы он не пропал бесследно. Для включения нажмите на кнопку. Но работать она будет только на компьютере, очевидно.</p>
              <button id="ball-turnoff">Включить кастомный курсор</button>
              <p>При желании, можете побаловаться с настройками шариков) Надо нажать на текст "настройка курсора". </p>
              <a href="#" id="toggle-cursor-settings" style="display:block; color: aqua; margin-top:15px;">настройки курсора↓</a>
				<div id="cursor-settings-container" style="display: none; margin-top: 10px;">
				  <label>Gravity: <input type="number" id="setting-gravity" step="any" value="30"></label><br>
				  <label>Bounce: <input type="number" id="setting-bounce" step="any" value="0.75"></label><br>
				  <label>Resistance: <input type="number" id="setting-resistance" step="any" value="10"></label><br>
				  <label>Mass: <input type="number" id="setting-mass" step="any" value="1"></label><br>
				  <label>SpringK: <input type="number" id="setting-springk" step="any" value="10"></label><br>
				  <button id="reset-cursor-defaults" style="margin-top:10px;">Восстановить значения по умолчанию</button>
				</div>
                </div>
              </article>
        </main>
{% endblock %}
