{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>Комолов Тимур</title>
  {% endblock %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  {% block description %}
  <meta name="description" content="Портфолио фотографа Тимура Комолова.">
  {% endblock %}
  <link rel="icon" href="{% static 'images/cameraicon.png' %}" sizes="any">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&display=swap" rel="stylesheet">
  <meta name="yandex-verification" content="000c6cc5d2a6115a" />
  {% block css %}
  {% endblock %}
  </head>
  <body>
  <div id="cookie-popup">
        <p>На сайте используются файлы cookie для аналитики. Вы можете запретить передачу cookie для Яндекс.Метрики.</p>
        <button id="accept-cookies">Принять</button>
        <button id="decline-cookies">Запретить</button>
    </div>
    <div class="background">
        <header class="shapka">
            <div class="shapka__logo">
                <div class="image__logo">
                    <img src="{% static 'images/camera_large.png' %}" usemap="#Logo" alt="Логотип сайта" height="64px' %}">
                    <map name="Logo">
                        <area shape="rectangle" coords="0,0,100,100" href="{% url 'index' %}"></area>
                    </map>
                </div>
                <div class="logotext">
                Комолов Тимур
                </div>
            </div>
            <nav class="navbar">
              <input id="menu-toggle" type="checkbox" />
              <label class='menu-button-container' for="menu-toggle">
              <div class='menu-button'></div>
              <div class="menu-label">Меню</div>
              </label>
            <div class="shapka__blocks">
                <ul class="elements">
                    <li><a href="{% url 'index' %}">
                        <div class="shapka__blocks__item">
                            Главная
                        </div>
                    </a>
                    </li>
                    <li><a href="{% url "aboutme" %}">
                        <div class="shapka__blocks__item">
                            Обо мне
                        </div>
                    </a>
                    </li>
                    <li><a href="{% url "portfolio:series" %}">
                        <div class="shapka__blocks__item">
                            Серии фото
                        </div>
                    </a>
                    </li>
                    <li><a href="{% url "portfolio:reports" %}">
                        <div class="shapka__blocks__item">
                            Репортаж
                        </div>
                    </a>
                    </li>
                    <li><a href="{% url "phototerm" %}">
                        <div class="shapka__blocks__item">
                            Термины
                        </div>
                    </a>
                    </li>
                    <li><a  href="{% url "contacts" %}">
                        <div class="shapka__blocks__item">
                            Контакты
                        </div>
                    </a>
                    </li>
                </ul>

            </div>
        </nav>
        </header>
        <div id="dot0" class="dot" style="position:absolute; visibility:hidden; height:11px; width:11px;"><img src="{% static 'images/bullet.gif' %}" height="11" width="11" alt="ball0"></div>
		<div id="dot1" class="dot" style="position:absolute; visibility:hidden; height:11px; width:11px;"><img src="{% static 'images/bullet.gif' %}" height="11" width="11" alt="ball1"></div>
		<div id="dot2" class="dot" style="position:absolute; visibility:hidden; height:11px; width:11px;"><img src="{% static 'images/bullet.gif' %}" height="11" width="11" alt="ball2"></div>
		<div id="dot3" class="dot" style="position:absolute; visibility:hidden; height:11px; width:11px;"><img src="{% static 'images/bullet.gif' %}" height="11" width="11" alt="ball3"></div>
		<div id="dot4" class="dot" style="position:absolute; visibility:hidden; height:11px; width:11px;"><img src="{% static 'images/bullet.gif' %}" height="11" width="11" alt="ball4"></div>
		<div id="dot5" class="dot" style="position:absolute; visibility:hidden; height:11px; width:11px;"><img src="{% static 'images/bullet.gif' %}" height="11" width="11" alt="ball5"></div>
		<div id="dot6" class="dot" style="position:absolute; visibility:hidden; height:11px; width:11px;"><img src="{% static 'images/bullet.gif' %}" height="11" width="11" alt="ball6"></div>

        {% block content %}
        {% endblock %}
        {% block top-button %}
        	<aside id="upHere__container">
          <button onclick="topFunction()" id="upHere" title="Go to top"><img src="{% static 'images/up.svg' %}"></button>
      </aside>
      <script src="{% static 'js/button.js' %}"></script>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
{#    <div class="flex-grow"></div>#}
        <footer class="dungeon">
            <div class="dungeon__text">
                <span>
                  <a href="https://vk.com/timik232">©Комолов Тимур</a>, 2022-<span id="currentYear"></span>
                </span>
                {% block social %}
                  <span class="media">
                    <span class="social-media-button vk-style" >
                    <a href="https://vk.com/timik232" class="circle" aria-label="Профиль VK">
                        <span class="logo"></span>
                        <span class="moving-gradient"></span>
                    </a>
                      <span class="glow"></span>
                    </span>
                    <span class="social-media-button telegram-style" aria-label="Страница ТГ">
                      <a href="https://t.me/ser13volk" class="circle">
                         <span class="logo"></span>
                        <span class="moving-gradient"></span>
                      </a>
                      <span class="glow"></span>
                    </span>
                    <span class="social-media-button github-style" >
                      <a href="https://www.github.com/timik232" class="circle" aria-label="Github профиль">
                        <span class="logo"></span>
                        <span class="moving-gradient"></span>
                      </a>
                      <span class="glow"></span>
                    </span>
                  </span>
                {% endblock %}
                {% block admin %}

                {% endblock %}
                  <span></span>
            </div>
        </footer>
    </div>
    <script>
      document.getElementById('currentYear').textContent = new Date().getFullYear();
    </script>
    <script src="{% static 'js/popup-cookie.js' %}" >
    </script>
    <!-- Яндекс.Метрика для пользователей, которые ранее уже согласились (если cookie установлено, popup не появится) -->
    <noscript>
        <div>
            <img src="https://mc.yandex.ru/watch/100105752" style="position:absolute; left:-9999px;" alt="" />
        </div>
    </noscript>
    <script src="{% static 'js/custom_cursor.js' %}"></script>
  </body>
  </html>
