{% extends 'photoUploading/base.html' %}
{%  load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/serie__element.css' %}">
{% endblock %}
{% block content %}
    <main class="main">
          <article>
            <h1 class="{% if element.type == "ser" %}
            serie{{ element.style_number }}
            {% else %}
            report{{ element.style_number }}
            {% endif %}">
                {{ element.first_name }} <span> {{ element.last_name }}</span>
            </h1>
          <p style="text-align: center; margin-top: 1em;">{{ element.description }}</p>
            <div id="main-slider">
              <div id="grid-slider">
                <div class="vertline">
                  <button class="slider-previous" ><img src="{% static 'images/left.svg' %}" alt="left"></button>
                </div>
                <div class="slider">
                  <div class="slider-wrapper">
                      {% for photo in element.photos.all %}
                  		<img src="{{ photo.image.url }}" height="640px" alt="Element of photo" class="slide"/>
                      {% endfor %}
                  	</div>
                  </div>
                  <div class="vertline">
                    <button class="slider-next" ><img src="{% static 'images/right.svg' %}" alt="left"></button>
                  </div>
              </div>
              <div id="slider-nav">
                {% for i in element.photos.all %}
                    <button data-slide="{{ forloop.counter0 }}" {% if forloop.first %}class="current"{% endif %}></button>
                {% endfor %}
            </div>
            </div>
            </article>
        </main>
{% endblock %}
{% block scripts %}
	<script src="{% static 'js/photoslider.js' %}" defer></script>
{% endblock %}

